# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/salon_ui/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.angular/*
salon_ui\.angular\cache\**

# Visual Studio Code
*.vscode/*
*!.vscode/settings.json
*!.vscode/tasks.json
*!.vscode/launch.json
*!.vscode/extensions.json
*.history/*
salon_ui/.vscode/*
salon_backend/.vscode/*

# Miscellaneous
/salon_ui/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

#python files
salon_backend/.vscode/*
salon_backend/salonvenv/*
*.pyc


